@import "font-awesome-sprockets";
@import "font-awesome";
@import "reset.scss";
@import "header.scss";
@import "api/sessions.scss";
@import "authentication_page_footer.scss";
@import "signed_in.scss";

$header-font: 'Baloo Paaji', cursive;
$main-font: 'Catamaran', sans-serif;
$main-theme: #4891C0;
$gray: #6D717A;
$green: #9FCA49;
$orange: #EBA74D;
$picture-height: 500px;

// Home page header:
.home-page-header {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  background: $gray;
  div {
    display: inline-block;
    background: red;
    width: 30%;
    height: 30px;
  }

  div:hover {
    background: green;
  }
}

#map-container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

#static-map {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.item-static-map {
  width: 250px;
  height: 250px;
}
