@import "font-awesome-sprockets";
@import "font-awesome";
@import "reset.scss";
@import "header.scss";
@import "api/sessions.scss";
@import "authentication_page_footer.scss";
@import "signed_in.scss";
@import "homepage_header.scss";
@import "module.scss";
@import "dashboard.scss";
@import "create_route_form.scss";
@import "route_detail.scss";
@import "log_trip_form.scss";

$header-font: 'Baloo Paaji', cursive;
$main-font: 'Catamaran', sans-serif;
$main-theme: #4891C0;
$gray: #6D717A;
$green: #9FCA49;
$orange: #EBA74D;
$picture-height: 500px;

#static-map {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
