$header-font: 'Baloo Paaji', cursive;
$main-font: 'Catamaran', sans-serif;
$main-theme: #4891C0;
$gray: #6D717A;
$green: #9FCA49;
$orange: #EBA74D;
$picture-height: 500px;

.element-icon {
  color: $main-theme;
  font-size: 144px;
}

.element-title {
  color: #ccc;
  font-family: $main-font;
  font-size: 24px;
}

.element-info {
  color: #ccc;
  font-family: $main-font;
}

.footer-container {
  width: 80%;
  margin: 2% auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
