$header-font: 'Baloo Paaji', cursive;
$main-font: 'Catamaran', sans-serif;
$main-theme: #4891C0;
$gray: #6D717A;
$green: #9FCA49;
$orange: #EBA74D;
$picture-height: 500px;

.dashboard {
  margin: 0 auto;
  width: 75%;

  .recent-routes-header {
    font-family: $main-font;
    font-size: 28px;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
  }

  .routes-index {
    display: flex;
    justify-content: space-around;

    .item-container {
      width: 250px;
      height: 250px;
      margin: 10px;
      position: relative;
      cursor: pointer;

      .item-static-map {
        position: absolute;
        left: 0;
        top: 0;
      }

      .item-text {
        z-index: 100;
        position: absolute;
        color: #000;
        font-size: 12px;
        font-family: $main-font;
        padding: 5px;
        background: #fff;
        border: 1px solid #ccc;
        box-sizing: border-box;
        box-shadow: 1px 1px 4px #000;
        top: 78%;
      }
    }

  }

}

.logged-trips {
  margin: 0 auto;
  width: 75%;

  .recent-trips-header {
    font-family: $main-font;
    font-size: 28px;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
  }

  .trip-item-container {
    display: flex;
    margin: 2%;
    justify-content: space-between;
    font-family: $main-font;

    .trip-static-map {
      width: 200px;
      height: 200px;
      border: 2px solid #ccc;
      border-radius: 5px;
    }

    .trip-static-map:hover {
      cursor: pointer;
    }

    .trip-title-distance {
      width: 30%;
      .trip-title {
        font-size: 24px;
        color: $main-theme;
      }
      .trip-distance span {
        font-size: 36px;
        color: $gray;
      }
    }

    .trip-dates {
      width: 20%;
      .title {
        font-size: 24px;
      }
      .date {
        display: flex;
        justify-content: space-between;
      }
    }

    .expenditure {
      text-align: center;
      width: 20%;
      .title {
        font-size: 24px;
      }

      .cost {
        font-size: 36px;
        color: $gray;

        span {
          font-family: arial;
        }
      }
    }
  }
}
