$header-font: 'Baloo Paaji', cursive;
$main-font: 'Catamaran', sans-serif;
$main-theme: #4891C0;
$gray: #6D717A;
$green: #9FCA49;
$orange: #EBA74D;
$picture-height: 500px;

.find-friends-page-title {
  font-family: $main-font;
  font-size: 36px;
  border-bottom: 2px solid #ccc;
  width: 75%;
  margin: 1% auto;
  display: flex;
  justify-content: space-between;

  .search input[type="text"] {
    // margin: 20px;
    height: 28px;
    background: url("http://res.cloudinary.com/dlszpthqv/image/upload/v1473179762/search-icon-dark-grey-md_bgttee.png") no-repeat 10px 10px #eee;
    border: 2px solid #ccc;
    font: bold 16px $main-font;
    color: #eee;
    width: 100px;
    padding: 8px 5px 6px 40px;

    border-radius: 20px;
    /* text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); */
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }

  .search input[type="text"]:focus {
    background: url("http://res.cloudinary.com/dlszpthqv/image/upload/v1473179762/search-icon-dark-grey-md_bgttee.png") no-repeat 10px 10px #fcfcfc;
    color: $gray;
    width: 350px;
    border-radius: 20px;
    // -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    // -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    // box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    // text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }
}

.users-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 75%;
  height: 200px;
  margin: 0 auto;

  .user-item {
    width: 40%;
    display: flex;
    height: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 2% 2% 2% 2%;

    .profile-picture {
      width: 200px;
      height: 200px;
      border-right: 2px solid #ccc;
      img {
        height: 100%;
        width: 200px;
        object-fit: fill;
      }
    }

    .name-and-follow {
      width: 50%;
      font-family: $main-font;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;

      .name {
        font-size: 24px;
        color: $gray;
      }

      .unfollow-button {
        width: 80%;
        margin: 0 auto;
        font-size: 20px;
        padding: 2%;
        background-color: #ccc;
        border-radius: 5px;
        margin-left: 10%;
        margin-bottom: 5%;

        button {
          width: 100%;
        }
      }

      .follow-button {
        width: 80%;
        margin: 0 auto;
        font-size: 20px;
        padding: 2%;
        background-color: $main-theme;
        color: #fff;
        border-radius: 5px;
        margin-left: 10%;
        margin-bottom: 5%;

        button {
          width: 100%;
        }
      }

    }
  }
}
