$header-font: 'Baloo Paaji', cursive;
$main-font: 'Catamaran', sans-serif;
$main-theme: #4891C0;
$gray: #6D717A;
$green: #9FCA49;
$orange: #EBA74D;
$picture-height: 500px;

.trip-form {
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: center;

  font-family: $main-font;

  label {
    font-size: 20px;
    input {
      border: 2px solid #ccc;
      border-radius: 5px;
    }
  }

  .trip-log {
    textarea {
      border: 2px solid #ccc;
      border-radius: 5px;
    }
  }

  .route-search-bar {
    border: 2px solid #ccc;
    border-radius: 5px;
  }

  .log-trip {
    margin: 2% auto;
    background: $orange;
    border: 2px solid #ccc;
    width: 10%;
  }
}
